{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
<div class="container mt-4">
    <div class="d-flex flex-column align-items-start">
        <div class="mb-3">
            {{ form_label(form.title, 'Title', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'required': true}}) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.starting_date, 'Starting date', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.starting_date, {'attr': {'class': 'form-control datepicker', 'data-provide': 'datepicker'}}) }}
            {{ form_errors(form.starting_date) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.due_date, 'Due date', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.due_date, {'attr': {'class': 'form-control datepicker', 'data-provide': 'datepicker'}}) }}
            {{ form_errors(form.due_date) }}
        </div>

        <div class="mb-3">        
            <button type="submit" class="btn btn-outline-success">{{ button_label|default('Save')|trans }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}

<script type="text/javascript">
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy', // or the date format you prefer
            autoclose: true // closes the datepicker automatically after selection
        });
    });
</script>
