{% set csrf_token = csrf_token('task_toggle') %}

{% extends 'base.html.twig' %}

{% block title %}{{'Tasks'|trans}}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">{{'Tasks'|trans}}</h1>

    {% if tasks|length > 0 %}
        {% for task in tasks %}
            <div class="d-flex align-items-center mb-2">
                <input type="checkbox" class="toggle-completion mr-2" style="width: 24px; height: 24px;" 
                       data-task-id="{{ task.id }}"
                       data-csrf-token="{{ csrf_token }}"
                       {% if task.isCompleted %}checked{% endif %}>

                <div class="flex-grow-1">
                    <a href="{{ path('app_task_show', {'id': task.id}) }}" class="d-block">
                        <strong>{{ task.title }}</strong>
                    </a>
                    <small class="text-muted d-block">{{ task.description }}</small>
                    <small class="text-muted d-block">
                        {{ task.startingDate ? task.startingDate|date('M j, Y') : 'N/A' }} - 
                        {{ task.dueDate ? task.dueDate|date('M j, Y') : 'N/A' }}
                    </small>
                </div>
            </div>
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="alert alert-warning" role="alert">
            No tasks found, you can create one by clicking the button below.
        </div>
    {% endif %}

    <a href="{{ path('app_task_new') }}" class="btn btn-success mt-3">{{'Create'|trans}}</a>
</div>

<script>
    document.querySelectorAll('.toggle-completion').forEach(checkbox => {
        checkbox.addEventListener('change', (e) => {
            let taskId = e.target.getAttribute('data-task-id');
            let csrfToken = e.target.getAttribute('data-csrf-token');
            fetch(`/task/${taskId}/toggle`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // 
                }
            });
        });
    });
</script>
{% endblock %}
