{% extends 'base.html.twig' %}

{% block title %}{{'New task'|trans}}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">{{"Create new task"|trans}}</h1>
    {{ include('task/_form.html.twig') }}
    <div class="mb-3">
        <a href="{{ path('app_task_index') }}" class="btn btn-outline-secondary">{{'Back to list'|trans}}</a>
    </div>
</div>
{% endblock %}
