{% extends 'base.html.twig' %}

{% block title %}{{'Task details'|trans}}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">{{'Task details'|trans}}</h1>
    <div class="d-flex flex-column align-items-start mb-4">
        <strong class="d-block mb-2">{{'Title'|trans}}: {{ task.title }}</strong>
        <small class="text-muted mb-2">{{'Description'|trans}}: {{ task.description }}</small>
        <small class="text-muted mb-2">
            {{'Starting date'|trans}}: {{ task.startingDate ? task.startingDate|date('F j, Y') : 'N/A' }}
        </small>
        <small class="text-muted mb-2">
            {{'Due date'|trans}}: {{ task.dueDate ? task.dueDate|date('F j, Y') : 'N/A' }}
        </small>
    </div>
    
    <div class="mb-3">
        <a href="{{ path('app_task_index') }}" class="btn btn-outline-secondary mr-2">{{'Back to list'|trans}}</a>
        <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-outline-primary mr-2">{{'Edit'|trans}}</a>
        <div style="display: inline-block;">
            {{ include('task/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
