{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1>Task</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Title</th>
                        <td>{{ task.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ task.description }}</td>
                    </tr>
                    <tr>
                        <th>Starting_date</th>
                        <td>{{ task.startingDate ? task.startingDate|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Due_date</th>
                        <td>{{ task.dueDate ? task.dueDate|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="mb-3">
                <a href="{{ path('app_task_index') }}" class="btn btn-outline-secondary">Back to list</a>
                <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-outline-primary">Edit</a>
                <div style="display: inline-block;">
                    {{ include('task/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
